@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Entertainer Library!!</h1>
    <p>Welcome to the Entertainer Library!! Here you'll find a list of all of our awesome entertainers along with some shockingly private information about them! Click below!</p>
    <a class="btn btn-primary btn-lg" asp-action="Entertainers">Entertainers</a>
</div>
